//all the variables in our project go here

//COLOURS
$color-grey-dark: #777;
$color-white: #fff;
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-black: #000;

$colour-grey-light-1: #f7f7f7;
$colour-grey-light-2: #eee;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;



//GRID
$grid-width: 114rem;
$gutter-vertical: 30rem;
$gutter-horizontal: 6rem;

//FONTSIZE
$default-font-size: 1.6rem;